html, body, #root {
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(223, 223, 223);
    background-attachment: 'fixed';
}

body {
    position: relative;
}

::-webkit-scrollbar {display:none;}